main.content
  .content__container(class={ 'content__container--with-sections': headings.length > 0 })
    .content__header
      .content__header__row
        h1.content__header-title!= title
        // more